<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!-- main-header -->
    <div class="contanier-fluid main_header h-100">
        <div class=" row">
            <div class="col-md-10 mx-auto">
                <div class="row py-5 px-5">
                    <div class="col-md-6 main_header_right align-items-center">
                        <figure>
                            <img src="./images/MERN.png" class="about-img" height="300px" alt="..." />
                        </figure>
                    </div>

                    <div class="col-md-6 main_header_left">
                        <h1 class="fw-bold">
                            i am
                            <span class="text-info"> shivam kushwaha,</span>
                            A mern stack developer.
                        </h1>
                        <a href="#"><button class="btn-lg btn btn-outline-info">
                                About Me
                            </button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- fotter.. -->
    {{>footer}}
</body>

</html>